.title{
	height: 100px;
	text-align: center;
}

.pokememo{
	width: 100%;
}

.pokememo-detail{
	width: 100%;
}

.name{
	width: 10%;
	float: left;
	margin-left: 40px;
}
.item{
	width: 15%;
	height: 100px;
	float: left;
	margin-left: 50px;
}
.ability{
	width: 15%;

}
.move{
    float: left;
    width: 30%;
}
.stats{
	width: 30%;
	float: left;
}